<div class = "container-fluid">
  <h1>User Registeration</h1>
  <form [formGroup] = 'registerationForm'>
    
    <div> {{ registerationForm.value | json }}</div>

    <div class = 'form-group'>
      <label>User Name</label>
      <input [class.is-invalid] = "userName.invalid && userName.touched" formControlName = 'userName' type = "text" class = 'form-control'>
      <!--<small class="text-danger" [class.d-none] = "registerationForm.get('userName').valid || registerationForm.get('userName').untouched">User Name is required</small>-->
      <div *ngIf = "userName.invalid && userName.touched">
        <small class="text-danger" *ngIf = "userName.errors?.required">User Name is required</small>
        <small class="text-danger" *ngIf = "userName.errors?.minlength"> User Name must be minimum 3 characters</small>
        <small class="text-danger" *ngIf = "userName.errors?.forbiddenName"> {{userName.errors?.forbiddenName.value}} User Name is not allowed</small>
       </div>
      <!-- <input [class.is-invalid] = "registerationForm.get('userName').invalid && registerationForm.get('userName').touched" formControlName = 'userName' type = "text" class = 'form-control'>-->
    </div>

    <div class = 'form-group'>
      <label>Password</label>
      <input formControlName = 'password' type = "password" class = 'form-control'>
    </div>

    <div class = 'form-group'>
      <label>Confirm Password</label>
      <input [class.is-invalid] = "registerationForm.errors?.misMatch" formControlName = 'confirmPassword' type = "password" class = 'form-control'>
      <small class = "text-danger" *ngIf = "registerationForm.errors?.misMatch">Password do not match</small>
    </div>

    <div formGroupName = "address">
      <div class = 'form-group'>
        <label>City</label>
        <input formControlName = 'city' type = "text" class = 'form-control'>
      </div>
      <div class = 'form-group'>
        <label>State</label>
        <input formControlName = 'state' type = "text" class = 'form-control'>
      </div>
      <div class = 'form-group'>
        <label>Pincode</label>
        <input formControlName = 'pincode' type = "text" class = 'form-control'>
      </div>
    </div>

    <div class = 'form-group'>
      <button class = "btn btn-primary" type = "submit">Register</button>
    </div>

    <div class = 'form-group'>
      <button (click) = "loadAPIData()" class = "btn btn-secondary ml-2" type = "submit">Load API Data</button>
    </div>
  </form>
  
</div>